@import '../../app/variables.css';

.relative {
  position: relative;
  z-index: var(--popup-index);
}

.wrapper {
  align-items: center;
  background: var(--color-black-54);
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.popupWrapper {
  height: 275px;
  width: 480px;
}

.closeWrapper {
  display: flex;
  height: 40px;
  justify-content: flex-end;
  width: 100%;

  & .closeButtonWrapper {
    height: 19px;
    padding: 13px 0;
    width: 19px;
  }

  & .closeButton {
    cursor: pointer;
  }
}

.passwordStepWrapper {
  display: flex;
  flex-direction: column;
  height: 235px;
  justify-content: space-between;
  padding: 32px 56px;
  width: 100%;

  & .guideText {
    height: 27px;
    width: 100%;
  }

  & .nextStepWrapper {
    width: 100%;
  }
}
