@import '../../app/variables.css';

.checked {
  background-color: var(--color-dodger-blue) !important;
  border-color: var(--color-dodger-blue) !important;
}

.check {
  border-color: var(--color-dodger-blue) !important;
}
