@import '../../../app/variables.css';

.passphraseInputBoxWrapper {
  height: 350px;
  margin-top: 26px;
  width: 100%;
}

.passphraseInputBox {
  background: var(--color-white);
  height: 350px;
  justify-content: space-around;

  & > .row {
    justify-content: space-around;
    flex-direction: row !important;

    & > span {
      height: 48px;
      width: 80px;

      & > .focusNumber {
        height: 20px;

        & > small {
          color: var(--color-dodger-blue);
          justify-content: flex-start;
        }
      }

      & > .number {
        height: 20px;

        & > small {
          color: var(--color-black-38);
          justify-content: flex-start;
        }
      }

      & > .word {
        border-bottom: 1px solid var(--color-black-16);
        height: 24px;

        & > h6 {
          color: var(--color-black-87);
          justify-content: flex-start;
        }
      }
    }
  }
}

.inputWrapper input {
  padding-right: 35px;
  border-radius: 0;
}

.errorMessageWrapper {
  justify-content: center;
  height: 29px;

  & > .errorMessage {
    color: var(--color-error);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
  }
}

.error input {
  color: var(--color-error) !important;
}

.partial input {
  border-radius: 0;
  text-align: left;
}

.partial input:focus {
  border-bottom: 1px solid var(--color-dodger-blue) !important;
  color: var(--color-dodger-blue);
}
