@import '../app/variables.css';

.resetPasswordWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.bodyWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto 40px;
  width: 80%;
}

.form {
  position: relative;
  margin: 60px 0 0;

  & .passwordInputWrapper {
    margin: 20px 0 0;
  }

  & .passwordInput {
    margin: 0;
  }

  & .newPasswordInputWrapper {
    margin: 20px 0 0;
  }

  & .newPasswordInput {
    margin: 0;
  }

  & .newConfirmPasswordInputWrapper {
    margin: 20px 0 0;
  }

  & .newConfirmPasswordInput {
    margin: 0;
  }
}

.sendFooter {
  padding: 0 !important;
  margin: 20px 0 0;

  & .nextButton {
    margin: 8px 0 0;
  }
}
