@import '../../../../app/variables.css';

.candidateBadgeWrapper {
  display: flex;
  height: 29px;
  justify-content: center;
  width: 21px;
}

.candidateBadge {
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;

  & img {
    height: 100%;
    width: 100%;
  }

  & .badge {
    height: 100%;
    width: 100%;
  }

  & .top {
    & path {
      fill: #ffe41d;
      fill-opacity: 1;
    }
  }

  & .rankWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;

    & span {
      font-size: 12px;
      margin: 0 0 3px;
    }
  }
}
