.leftText {
  text-align: left;
}

.middleText {
  text-align: center;
}

.rightText {
  text-align: right;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;

  & a {
    color: var(--color-dusk-blue);
  }
}

.clickable {
  color: var(--color-dusk-blue);
  cursor: pointer;
}
