@import '../../app/variables.css';

.empty {
  text-align: center;
  font-weight: var(--font-weight-normal);
  padding-top: 25px;
  color: var(--color-grayscale-dark);
}

.results {
  overflow-y: initial;
  height: 100%;
  width: 100%;
}

.transactionRowWrapper {
  max-height: 480px;
  width: 100%;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
}
