@import '../../app/variables.css';

.empty {
  text-align: center;
  font-weight: var(--font-weight-normal);
  padding-top: 25px;
  color: var(--color-grayscale-dark);
}

.results {
  overflow-y: initial;
  height: 100%;
  width: 100%;
}

.transactionRowWrapper {
  max-height: 480px;
  width: 100%;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar * {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background: var(--color-black-16) !important;
  border-radius: 4px;
}

.showMore {
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 -1px 0 0 var(--color-divide-border);
  border-top: 0;
  color: var(--color-grayscale-dark);
  height: 39px;
  margin-right: 0;
  margin-left: 0;
  white-space: nowrap;
  padding: 0 24px;
}
