@import '../../app/variables.css';

.wrapper {
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  text-align: center;
  height: 100%;
  width: 100%;
}

.voteDashboard {
  height: 89px;
  width: 243px;

  & .header {
    width: 100%;
  }

  & .nextButton {
    height: 40px;
    margin: 16px 0 0;
    width: 159px;
  }
}
