@import '../../app/variables.css';

.wrapper {
  height: 100%;
  padding: 3px 16px 20px;
  position: relative;
}

.headerWrapper {
  align-items: center;
  display: flex;
  height: 11%;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100%;

  & h4 {
    height: 33px;
  }
}

.bodyWrapper {
  height: 89%;
  margin: 0;
  width: 100%;
}

.loadingBarWrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.spinner {
  height: 120px;
  width: 120px;
}
