@import '../../../app/variables.css';

@define-mixin buttonBasics {
  width: 100%;
  max-width: 100%;
  border-radius: 6px;
  text-transform: none;
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-normal);
  font-family: var(--content-font) !important;
  transition: none !important;

  &:disabled {
    background: var(--color-mid-blue-60) !important;
  }
}

@define-mixin buttonSecondary--blue {
  background: none !important;
  color: var(--color-primary-medium) !important;

  &:hover {
    color: var(--color-white) !important;
    background: var(--color-mid-blue) !important;
  }
}

@define-mixin buttonChoice {
  background: none !important;
  border: 1px solid var(--color-black-16);
  border-radius: 3px !important;
  color: var(--color-black-60) !important;
  font-size: var(--font-size-h6);

  &:focus {
    background: var(--color-dodger-blue) !important;
    color: var(--color-black-87) !important;
  }

  &:hover {
    background: var(--color-white) !important;
    color: var(--color-black-87) !important;
  }
}

@define-mixin buttonPrimary {
  color: var(--color-white) !important;
  background: var(--color-dodger-blue);

  &:hover {
    background: var(--color-mid-blue) !important;
  }
}

@define-mixin buttonSecondary--light {
  background: none !important;
  color: var(--color-black-87) !important;
  font-weight: var(--font-weight-light);

  &:hover {
    color: var(--color-white) !important;
    background-color: var(--color-mid-blue) !important;
  }
}
