@import '../../app/variables.css';

.safekeeping {
  margin-top: var(--header-margin-top);

  & > .comment1 {
    margin-top: 8px;

    & > h6 {
      text-align: center;
    }
  }

  & > .comment2 {
    margin-top: 48px;

    & > h6 {
      color: var(--color-black-87);
    }
  }

  & > .passphrase {
    margin-top: 26px;
  }

  & > .nextButton {
    margin-top: 40px;
  }

  & > .comment3 {
    margin-top: 16px;
  }
}
