@import '../../app/variables.css';

.safekeeping {
  margin-top: var(--header-margin-top);

  & > .comment1 {
    margin-top: 8px;

    & > h6 {
      text-align: center;
    }
  }

  & > .comment2 {
    flex-direction: row;
    margin-top: 48px;

    & > h6 {
      color: var(--color-black-87);
    }

    & > .copyLink {
      border-bottom: 1px solid var(--color-dusk-blue);
      color: var(--color-dusk-blue);
      margin-left: 4px;
    }
  }

  & > .passphrase {
    margin-top: 26px;
  }

  & > .nextButton {
    margin-top: 40px;
  }

  & > .comment3 {
    margin-top: 16px;
  }
}
