@import '../../../app/variables.css';
@import '../states.css';

.headerWrapper {
  background: var(--color-lucid-blue);
  color: var(--color-black-87);
  font-weight: var(--font-weight-semi-bold);
  height: 32px;
  padding: 0 24px;
  margin: 0;
}

.header {
  color: var(--color-black);
  font-size: var(--font-size-small);
  line-height: 32px;
  opacity: 1;
}
