@import '../app/variables.css';

.loginWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;

  & > .login {
    margin-top: var(--header-margin-top);
    width: 100%;

    & > .accountLabel {
      display: flex;
      margin-top: 48px;
    }

    & > .noAccountLabel {
      margin: 48px 0 18px;

      & input {
        height: var(--input-height);
      }
    }

    & > .password {
      margin-top: 4px;

      & input {
        height: var(--input-height);
      }
    }

    & > .nextButton {
      margin-top: 72px;
    }

    & > div {
      display: flex;
      flex-direction: column;
    }

    & > span {
      font-size: var(--font-size-h6);
      color: var(--color-black-60);
      font-weight: var(--font-weight-normal);
    }

    & h2 {
      display: flex;
      justify-content: center;
      margin-bottom: 0;
    }

    & h6,
    & small {
      display: flex;
      justify-content: center;
    }
  }
}

.wrapper {
  & > img {
    display: block;
    width: 180px;
    height: 25px;
    margin: 0 auto;
  }
}

.dropDownWrapper {
  display: flex;
  flex-direction: row !important;

  & > .accountVisual {
    display: flex;
    width: 33px;
    height: 33px;
    margin: 0 12px;
    justify-content: center;
  }

  & > .accountVisual:focus {
    background-color: var(--color-white);
  }

  & > .account {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 380px;

    & .label {
      color: var(--color-black-60);
    }

    & .address {
      color: var(--color-black-87);
    }
  }
}

.dropDownWrapper:focus {
  background-color: var(--color-white);
}
