@import '../../app/variables.css';

.empty {
  text-align: center;
  font-weight: var(--font-weight-normal);
  padding-top: 25px;
  color: var(--color-grayscale-dark);
}

.results {
  overflow-y: initial;
  width: 100%;

  & .turnArrow {
    transform: rotate(180deg);
  }
}
