/*****************************************

Please Read the guide line
before adding any rules here

# No component specific rule
This file is inteded to solely include
rules defines against tag names and global
test styling, no component specific rule
blongs to this file

# Usecases
Prefered is to use the HTML tag semantically
but you can use @apply in any rules

# class names
Try not use nested rules and also prefer
using classnames with :global to make them
avaialble application-wide

****************************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: url('../../assets/fonts/notocjkkr/NotoSansCJKKr-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: url('../../assets/fonts/notocjkkr/NotoSansCJKKr-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: url('../../assets/fonts/notocjkkr/NotoSansCJKKr-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: var(--content-font);
  font-weight: var(--font-weight-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h3,
h4 {
  font-family: var(--heading-font);
  font-weight: var(--font-weight-normal);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  color: var(--color-black-87);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-light);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  color: var(--color-black-87);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-normal);
}

h6 {
  color: var(--color-black-60);
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-normal);
}

p,
a,
b,
i,
strong {
  font-size: var(--paragraph-font-size-l);
}

strong {
  font-weight: var(--font-weight-bold);
}

small {
  color: var(--color-black-60);
  font-size: var(--font-size-small);
}

/********************
    Directions
********************/
:global .text-center {
  text-align: center;
}

input,
textarea,
select {
  font-family: var(--content-font);
}
