@import '../../../app/variables.css';

.requestWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.bodyWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - 40px);
  width: 100%;
}

.contentWrapper {
  align-items: center;
  border-bottom: 1px solid var(--color-dodger-blue);
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-around;
  width: 100%;

  & .headerWrapper {
    padding: 20px 0 0;
  }

  & .qrCode {
    height: 200px;
    width: 200px;

    &.magnified {
      & canvas {
        max-width: 200px;
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

.requestFooter {
  padding: 0 !important;
  height: 30%;
  width: 100%;

  & .address {
    text-align: center;
    margin: 32px 0 0;

    & h6 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & .closeButton {
    margin: 29px 0 0;
    width: 100%;
  }
}
