.leftText {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rightText {
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ordinaryText {
  text-decoration: none;
  color: inherit;
}

.clickable {
  cursor: pointer;
}
