@import '../app/variables.css';

.empty {
  text-align: center;
  font-weight: var(--font-weight-semi-bold);
  padding-top: 25px;
  color: var(--color-grayscale-dark);
}

.results {
  overflow-y: initial;

  & .turnArrow {
    transform: rotate(180deg);
  }
}
