@import 'variables.css';
@import 'global.css';
@import 'type.css';

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.bodyWrapper {
  align-items: center;
  background: var(--color-pale-gray);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  min-width: var(--app-min-width);
  position: absolute;
  top: 0;
  width: 100%;

  & > main > section {
    opacity: 0;
    transition: all ease 250ms;
    width: var(--main-box-width);
  }

  &.loaded > main > section {
    opacity: 1;
  }

  & > aside {
    position: fixed;
    width: var(--sidebar-width);
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color-white);
  }
}

.hasMarginBottom {
  margin-bottom: 20px;
}

/* move to type */
.text-center {
  text-align: center;
}
