@import '../../app/variables.css';

.wrapper {
  align-items: center;
  display: flex;
  height: 464px;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
}

.empty {
  text-align: center;
  font-weight: var(--font-weight-normal);
  padding-top: 25px;
  color: var(--color-grayscale-dark);
}

.candidateRowWrapper {
  height: 432px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.candidateRowWrapper::-webkit-scrollbar {
  width: 8px;
}

.candidateRowWrapper::-webkit-scrollbar * {
  background: transparent;
}

.candidateRowWrapper::-webkit-scrollbar-thumb {
  background: var(--color-black-16) !important;
  border-radius: 4px;
}
