@import '../../app/variables.css';

:root {
  --padding-top: 0px;
}

.wrapper {
  padding-top: var(--padding-top);
  width: 400px;

  & > img {
    display: block;
    width: 180px;
    height: 25px;
    margin: 0 auto;
  }
}

.caseWrapper {
  display: flex;
  flex-direction: column;
  padding-top: var(--header-margin-top);

  & .header {
    margin-bottom: 20px;
  }

  & .caseButton {
    width: 400px;
    height: 50px;
    margin: 10px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
  }
}

.restore {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  & div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  & > span {
    font-size: var(--font-size-h6);
    color: var(--color-black-60);
    font-weight: var(--font-weight-normal);
  }

  & h2 {
    display: flex;
    margin-bottom: 0;
  }

  & h6,
  & small {
    display: flex;
    justify-content: center;
  }
}
