@import '../../../app/variables.css';
@import '../states.css';

.voteFooterMenu {
  align-items: center;
  box-shadow: 0 -2px 4px 0 var(--color-black-8);
  color: var(--color-black-60);
  display: flex;
  flex-direction: row;
  font-weight: var(--font-weight-normal);
  height: 64px;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.votingNumWrapper {
  display: flex;
  flex-direction: row;
  margin: 22px 24px;

  & .currentNumWrapper {
    box-shadow: inset -1px 0 0 0 var(--color-black-16);
    padding: 0 16px 0 0;

    & span {
      color: var(--color-black-87);
    }

    & .currentNum {
      font-weight: var(--font-weight-bold);
    }
  }

  & .totalNumWrapper {
    padding: 0 0 0 16px;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  margin: 0 24px 0 0;

  & .cancelButton {
    border: 1px solid var(--color-black-16) !important;
    color: var(--color-black-60) !important;
    font-size: 14px;
    height: 40px;
    width: 93px;
  }

  & .saveButton {
    font-size: 14px;
    height: 40px;
    margin: 0 0 0 8px;
    width: 152px;
  }
}
