@import './../app/variables.css';

.fixedAtTop {
  position: fixed;
  top: -9px;
  left: var(--sidebar-width);
  width: 100vw; /* stylelint-disable-line */
  z-index: var(--loadingbar-index);
}

.linear {
  background: transparent;
  height: 8px;

  & .value {
    background-color: var(--color-dodger-blue);
    height: 8px;
  }
}
