@import '../../app/variables.css';

:root {
  --link-color: var(--color-primary-medium);
  --back-button-wrapper-width: 24px;
  --back-button-width: 16px;
  --top-nav-size: 490px;
}

.txDetailViewWrapper {
  height: 100%;
  padding: 0 24px;
  width: 100%;
}

.txDetailViewHeader {
  align-items: center;
  border-radius: 0;
  flex-direction: row;
  height: 64px;
  justify-content: flex-start;
  width: 100%;
}

.backButtonWrapper {
  display: flex;
  height: var(--back-button-wrapper-width);
  width: var(--back-button-wrapper-width);

  & .backButton {
    width: var(--back-button-width); /* to have equal width with its shadow */
    cursor: pointer;
    color: var(--link-color);
    font-weight: var(--font-weight-bold);

    & .icon {
      height: var(--back-button-width);
      width: var(--back-button-width);
    }
  }
}

.txDetailViewHeaderTitleWrapper {
  align-items: center;
  display: flex;
  height: 29px;
  justify-content: center;
  margin: 8px 0 0;
  padding: 0 var(--back-button-wrapper-width) 0 0;
  width: 100%;

  & .txDetailViewHeaderTitle {
    display: flex;
  }
}
