@import '../../../app/variables.css';

.resetPasswordStep {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  margin: 0 auto 30px;
  width: 80%;
}

.form {
  height: 70%;

  & .passwordInputWrapper {
    margin: 10px 0 0;
  }

  & .passwordInput {
    margin: 0;
  }

  & .newPasswordInputWrapper {
    margin: 10px 0 0;
  }

  & .newPasswordInput {
    margin: 0;
  }

  & .newConfirmPasswordInputWrapper {
    margin: 10px 0 0;
  }

  & .newConfirmPasswordInput {
    margin: 0;
  }
}

.sendFooter {
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: flex-end;
  padding: 0 !important;
  margin: 0;

  & .nextButton {
    margin: 8px 0 0;
  }
}
