@import '../../../app/variables.css';
@import '../states.css';

.headerWrapper {
  align-items: center;
  background: var(--color-lucid-blue);
  color: var(--color-black-87);
  display: flex;
  font-weight: var(--font-weight-semi-bold);
  flex-direction: row;
  height: 32px;
  padding: 0 24px 0 8px;
  margin: 0;
  min-height: 32px;
  width: 100%;
}

.header {
  color: var(--color-black-87);
  height: 18px;
  font-size: var(--font-size-small);
  opacity: 1;
}
