@import '../../app/variables.css';

.wrapper {
  align-items: center;
  border-radius: 0;
  box-shadow: inset 0 -1px 0 0 var(--color-divide-border);
  display: flex;
  height: 56px;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.title {
  margin: 0 0 0 24px;
}

.voteNumWrapper {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 32px;

  & .votedNum {
    color: var(--color-black-87);
    font-weight: bold;
  }

  & .remainedNum {
    color: var(--color-black-60);
  }
}

.votingPowerWrapper {
  margin: 0 0 0 21px;

  & .votingPowerTitle {
    color: var(--color-black-87);
  }
}
