@import '../app/variables.css';

.startPageWrapper {
  height: 500px;
  margin: 99px 0 0;
  width: 100%;

  & > .titleWrapper {
    color: var(--color-dodger-blue);
    font-size: 90px;
    font-weight: var(--font-weight-bold);
    height: 300px;
    line-height: 96px;
    margin: 0;
    width: 100%;
  }

  & > .buttonWrapper {
    margin: 40px 0 0;

    & > .restoreButton {
      border-radius: 0;
      height: 72px;
      margin: 0;
      width: 464px;
    }

    & > .registerButton {
      border-radius: 0;
      height: 72px;
      margin: 0;
      width: 427px;
    }

    & > .hasMarginTop {
      margin-top: 16px;
    }
  }
}

.wrapper {
  width: 826px;

  & > img {
    display: block;
    width: 180px;
    height: 25px;
    margin: 0 auto;
  }
}
