@import '../app/variables.css';

.startPageWrapper {
  height: 424px;
  margin: 93px 0 0;
  width: 100%;

  & > .titleWrapper {
    color: var(--color-dodger-blue);
    font-family: var(--startpage-heading-font);
    font-size: 78px;
    height: 246px;
    line-height: 82px;
    margin: 0;
    width: 100%;
  }

  & > .buttonWrapper {
    margin: 24px 0 0;

    & > .restoreButton {
      border-radius: 0;
      height: 64px;
      font-family: var(--startpage-content-font) !important;
      line-height: 70px;
      margin: 0;
      width: 434px;
    }

    & > .registerButton {
      border-radius: 0;
      height: 64px;
      font-family: var(--startpage-content-font) !important;
      line-height: 70px;
      margin: 0;
      width: 399px;
    }

    & > .hasMarginTop {
      margin-top: 16px;
    }
  }
}

.wrapper {
  width: 716px;

  & > img {
    display: block;
    width: 180px;
    height: 25px;
    margin: 0 auto;
  }
}
