@import '../../../app/variables.css';

.wrapper {
  align-items: center;
  display: flex;
  height: 56px;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.title {
  margin: 0 0 0 24px;
}

.candidateNumWrapper {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 16px;
}

.candidateFilterWrapper {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 56px;

  & .tab {
    align-items: center;
    display: flex;
    height: 32px;
  }

  & .activeTab {
    box-shadow: inset 0 -2px 0 0 var(--color-dodger-blue);

    & h6 {
      color: var(--color-black-87);
    }
  }

  & .inactiveTab {
    & h6 {
      color: var(--color-black-60);
    }
  }

  & .hasLeftMargin {
    margin: 0 0 0 24px;
  }
}
