@import '../../app/variables.css';

:root {
  --box-padding-top: 20px;
}

.wrapper {
  align-items: center;
  position: relative;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  background: var(--color-white);

  /* box-shadow: var(--normal-shadow); */
  border-radius: 3px;
  max-height: 100%;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;

  & header {
    display: flex;
    justify-content: center;
    min-height: 65px;
    text-align: center;
  }

  & footer {
    padding-bottom: 50px;
    text-align: center;

    & :global .subTitle {
      margin-top: 20px;
      font-size: var(--subtitle-font-size);
      color: var(--color-grayscale-dark);
      height: 22px;
    }
  }
}

.hasBorder {
  border: solid 1px var(--color-black-8);
}
