@import '../../../app/variables.css';

.resetPassword {
  display: flex;
}

.tab {
  box-shadow: inset 0 -1px 0 0 var(--color-black-16);
  cursor: pointer;
  height: 52px;
  width: 100%;

  & h6 {
    padding: 14px 30px 14px 15px;
  }
}

.tab:hover {
  background: var(--color-black-4);
}

.activeTab {
  background: var(--color-dodger-blue-6);
  box-shadow: inset 0 -1px 0 0 var(--color-dodger-blue);
}

.activeTab:hover {
  background: var(--color-dodger-blue-6) !important;
}
