@import '../../app/variables.css';

.createWrapper {
  margin-top: var(--header-margin-top);

  & header h2 {
    margin: 0;
  }

  & > .accountVisual {
    flex-direction: row;
    justify-content: center;
    margin: 32px 0 0;
    position: relative;

    & > .refreshButton {
      height: 24px;
      position: absolute;
      right: 125px;
      top: 44px;
      width: 24px;
    }
  }

  & > small {
    margin: 16px 0 0;
  }

  & > .accountAddress {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 480px;

    & > div {
      padding-top: 8px;
    }

    & input {
      height: var(--input-height);
    }
  }

  & > .saveAccountCheckbox {
    display: inline-flex;

    & > span {
      font-size: var(--font-size-h6);
      color: var(--color-black-60);
      font-weight: var(--font-weight-normal);
    }
  }

  & > .continueButton {
    height: 56px;
    margin-top: 40px;
    width: 480px;
  }
}
