@import '../../../app/variables.css';

.row {
  box-shadow: inset 0 -1px 0 0 var(--color-divide-border);
  display: flex;
  flex-direction: row;
  height: 48px;
  width: 100%;

  & .label {
    overflow: hidden;
    width: 20%;

    & h6 {
      color: var(--color-black-59);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & .value {
    overflow: hidden;
    padding: 0 24px;
    text-overflow: ellipsis;
    width: 80%;

    & h6 {
      color: var(--color-black-87);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.multiLine {
  height: auto;
  min-height: 48px;
  max-height: 192px;
  word-break: break-word;
}
