@import '../app/variables.css';

.wrapper {
  height: 100%;
  padding: 3px 16px 20px;
}

.headerWrapper {
  align-items: center;
  display: flex;
  height: 61px;
  margin: 0;
  text-align: center;

  & h4 {
    height: 33px;
  }
}

.bodyWrapper {
  height: 492px;
  margin: 0;
  width: 100%;
}
