@import '../app/variables.css';

:root {
  --menu-background-color: var(--color-white);
  --menu-item-active-gradient: linear-gradient(-27deg, #004aff 4%, #57afff 61%, #93f4fe 100%);
  --menu-item-active-border-width: 7px;
  --more-menu-color: var(--color-grayscale-medium);
  --offcanvas-menu-border-color: var(--color-grayscale-light);
  --more-menu-border-color: var(--color-grayscale-medium);
  --read-more-font-size: 17px;
  --read-more-icon-font-size: 65px;
  --close-icon-font-size: 35px;
}

.sideBarWrapper {
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  width: var(--sidebar-width);
}

.aside {
  transform: translateX(-100%);
  opacity: 0.5;
  transition: all ease 300ms;
  transition-delay: 200ms;
}

:global(.appLoaded) .aside {
  opacity: 1;
  transform: translateX(0);
}

.logo {
  margin: 32px 0 0;
  height: var(--sidebar-image-height);
  width: var(--sidebar-image-width);
}

.navigationContainer .navigation {
  align-items: center;
  box-shadow: none;
  display: flex;
  flex-flow: column;
  padding-left: 0;
}

.tabs {
  height: 100%;
}

.tabs nav {
  overflow: hidden;
  margin: 28px 0 0;
}

.tab {
  background: var(--menu-background-color);
  border: none !important;
  box-shadow: none;
  height: 94px;
  margin: 48px 0 0;
  padding: 0 !important;
  text-align: center;
  width: 100%;

  & > div > .tabImg {
    font-style: normal;
    height: var(--sidebar-image-height);
    width: var(--sidebar-image-width);
  }

  & > div > .tabImg svg {
    height: var(--sidebar-image-height);
    width: var(--sidebar-image-width);
  }

  & > div > .tabLabel {
    height: 20px;
    margin: 4px 0 0;
  }
}

.tab:hover {
  & > div > .tabImg rect {
    fill: var(--color-black-4);
  }

  & > div > .tabLabel {
    color: var(--color-black-87);
  }
}

.activeTab {
  & > div > .tabImg rect {
    fill: var(--color-dodger-blue-16) !important;
  }
}

.navigationContainer {
  overflow: hidden;
  height: 100%;
  flex: 0 1 auto;
  flex-flow: column;
}

.label {
  background: #fff;
  display: flex;
  font-family: var(--heading-font);
  font-size: var(--main-menu-font-size);
  flex: 0 0 auto;
  max-width: 50%;
  text-align: center;
  text-transform: none;
  width: 50%;

  & > div {
    width: 100%;
  }

  & span {
    display: block;
    margin: 10px 0 0;
  }

  & > .rippleWrapper {
    display: none;
  }
}

.bottomTabs {
  display: flex;
  justify-content: center;
  width: 100%;

  & .settingsTabWrapper {
    margin-bottom: 90px;
    width: 50%;
  }
}

.header {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 60px;
  background: #fff;
}

.close {
  font-size: var(--close-icon-font-size);
  display: flex;
  width: auto;
  cursor: pointer;
  color: var(--more-menu-color);
}

.pointer {
  display: none;
}

.arrowContainer {
  display: none;
}
