<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="application-name" content="medibloc-<%= htmlWebpackPlugin.options.VERSION %>" data-medibloc-wallet-version="<%= htmlWebpackPlugin.options.VERSION %>">
        <meta name="viewport" content="width=device-width">
        <meta name="keywords" content="MediBloc, MediBloc Wallet, wallet">
        <meta property="og:title" content="MediBloc Wallet">
        <meta property="og:description" name="description" content="MediBloc Wallet is an all-in-one solution to manage your MediBloc Account, access and send MED tokens, as well as vote for delegates.">
        <title>MediBloc Wallet</title>
        <style>
          <%= compilation.assets['head.css'].source() %>
        </style>
        <link rel="icon" type="image/png" href="./assets/images/MEDIBLOC_Symbol.png" />
        <script>
          /* Following comment is a placeholder used by `npm run build:testnet`, do not remove */
          var defaultNet = "mainnet"; //mainnet
          (function() {
            if (window.localStorage && !window.localStorage.getItem('defaultNetwork')){
              window.localStorage.setItem('defaultNetwork', defaultNet);
            }
          })(defaultNet);
        </script>
    </head>
    <body>
        <div id="app"></div>
        <link rel="stylesheet" href="./styles.css">
        <script src="./bundle.vendor.js"></script>
        <script src="./bundle.app.js"></script>
    </body>
</html>
