@import './../app/variables.css';

.bandwidthBarWrapper {
  height: 32px;
  margin: 0 0 16px;
}

.title {
  text-align: left;
}

.progressBarLow {
  & .value {
    background: var(--color-water-melon) !important;
  }
}

.progressBarMid {
  & .value {
    background: var(--color-maize) !important;
  }
}

.linear {
  background: var(--color-black-8);
  border-radius: 6px;
  height: 8px;
  width: 100%;

  & .value {
    background: var(--color-dodger-blue);
    height: 8px;
  }
}
