@import '../../app/variables.css';

:root {
  --padding-top: 40px;
}

.password {
  & .accountLabel {
    display: flex;
    margin-top: 50px;
  }

  & .password {
    display: flex;
  }

  & .confirmPassword {
    display: flex;
  }

  & .nextButton {
    width: 480px;
  }
}

.hasPaddingTop {
  padding-top: var(--padding-top);
}
