@import '../../app/variables.css';

.passwordWrapper {
  margin-top: var(--header-margin-top);

  & header h2 {
    margin: 0;
  }

  & > h6 {
    justify-content: flex-start !important;
  }

  & input {
    height: var(--input-height);
    width: 480px;
  }

  & > .accountLabel {
    display: flex;
    margin-top: 48px;

    & > div {
      padding-bottom: 24px;
      height: 95px;
    }
  }

  & > .password {
    display: flex;
    margin-top: 0;

    & > div {
      padding-bottom: 24px;
      height: 95px;
    }
  }

  & > .confirmPassword {
    display: flex;
    margin-top: 0;

    & > div {
      padding-bottom: 24px;
      height: 95px;
    }
  }

  & > .nextButton {
    width: 480px;
    margin-top: 20px;
  }
}
