@import '../../app/variables.css';

.passwordWrapper {
  margin-top: var(--header-margin-top);
  width: 100%;

  & header {
    width: 100%;

    & h2 {
      margin: 0;
    }
  }

  & > h6 {
    justify-content: flex-start !important;
  }

  & input {
    height: var(--input-height);
    width: 100%;
  }

  & > .accountLabel {
    display: flex;
    margin-top: 48px;
    width: 100%;

    & > div {
      padding-bottom: 24px;
      height: 95px;
    }
  }

  & > .password {
    display: flex;
    margin-top: 0;
    width: 100%;

    & > div {
      padding-bottom: 24px;
      height: 95px;
    }
  }

  & > .confirmPassword {
    display: flex;
    margin-top: 0;
    width: 100%;

    & > div {
      padding-bottom: 24px;
      height: 95px;
    }
  }

  & > .nextButton {
    height: var(--input-height);
    margin-top: 20px;
    width: 100%;
  }
}
