@import '../app/variables.css';

.eventRecipient {
  & input {
    padding-right: 48px !important;
  }
}

.eventAddressWrapper {
  border-left: 1px solid var(--color-black-16);
  display: flex;
  height: 25px;
  justify-content: flex-end;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 36px;

  & .eventAddress {
    cursor: pointer;
    height: 24px;
    width: 24px;
  }
}
