@import '../app/variables.css';

.passwordStepsWrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.bodyWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  justify-content: flex-start;
  text-overflow: ellipsis;
  width: 100%;

  & > .transferInfo {
    border-bottom: 1px solid var(--color-black-16);
    height: 60%;
    overflow: hidden;
    width: 100%;

    & .assetInfo {
      margin-top: 24px;
    }

    & .recipientInfo {
      margin-top: 16px;
    }

    & .descriptionInfo {
      margin-top: 16px;
    }

    & .transferFields {
      font-family: var(--content-font);
      text-align: left;
    }

    & .transferBody {
      color: var(--color-black-87);
      font-family: var(--content-font);
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
  }

  & > .passwordStepsFooter {
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 !important;
    width: 100%;

    & .guideText {
      display: flex;
      flex-direction: column;
      height: 50%;
      justify-content: center;
    }

    & .nextStepWrapper {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
